html,
body {
   height: 100%;
}
body {
   margin: 0;
   display: grid;
   place-items: center;
   font-family: sans-serif;
}
button {
   cursor: pointer;
   font-family: inherit;
   background-color: transparent;
}
