html,
body {
   height: 100%;
}
body {
   margin: 0;
   display: grid;
   place-items: center;
   font-family: "Montserrat", sans-serif;
   -webkit-font-smoothing: antialiased;
}
button {
   cursor: pointer;
   font-family: inherit;
   background-color: transparent;
}
menu {
   margin: 0;
   padding: 0;
}
li {
   list-style: none;
   margin: 0;
}

@keyframes modal {
   0% {
      transform: scale(0.5);
      opacity: 0;
   }
}

@keyframes counter {
   0% {
      transform: scale(0.5) translateY(50%);
      opacity: 0;
   }
}
